@media screen and (max-width: 768px) {
body {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column; 
        padding: 2rem 0 2rem 0;   
    }
#contact-form {
    width: 75%;
}

.form-header {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    margin-bottom: 1rem;
}

.radio-group {
    display: flex;
    flex-direction: column;
    width: 94%;
}

.type-radio {
    margin-bottom: 0.5rem;
    width: 100%;
}


}