@media screen and (max-width: 768px) {
    contact-form {
        width: 100%;
        height: auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;    
    }

.form-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.radio-group {
    display: flex;
    flex-direction: column;
}



}