

@font-face {
    font-family: karla-bold;
    src: url(../assets/fonts/Karla-Italic-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: karla-regular;
    src: url(../assets/fonts/Karla-VariableFont_wght.ttf) format("truetype");
}

:root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);
}

body {
    font-family: karla-regular, sans-serif;
    background-color: var(--green-200);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#contact-form {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 65%;
    display: flex;
    flex-direction: column;
}

form h1 {
    font-family: karla-regular, sans-serif;
    color: var(--grey-900);
    margin-bottom: 0.5rem;
}

.form-header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container label {
    margin-bottom: 0.5rem;
    color: var(--grey-900);
    font-size: 14px;
}

.container input {
    padding: 0.5rem;
    border: 1px solid var(--grey-500);
    border-radius: 4px;
    font-size: 14px;
    font-family: karla-regular, sans-serif;
    color: var(--grey-900);
}

.container input:focus {
    outline: none;
    border-color: var(--green-600);
    box-shadow: 0 0 0 2px var(--green-200);
}

#contact-form label {
    margin-bottom: 0.5rem;
    color: var(--grey-900);
    font-size: 14px;
}

input[type="email"] {
    padding: 0.5rem;
    border: 1px solid var(--grey-500);
    border-radius: 4px;
    font-size: 14px;
    font-family: karla-regular, sans-serif;
    color: var(--grey-900);
    width: 100%;
    box-sizing: border-box;
}

input[type="email"]:focus {
    outline: none;
    border-color: var(--green-600);
    box-shadow: 0 0 0 2px var(--green-200);
}

.radio-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.type-radio {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--grey-500);
    border-radius: 4px;
    border-color: var(--green-600);
}
.type-radio input {
    margin-top: 3px;
    accent-color: var(--green-600);
}

textarea {
    padding: 0.5rem;
    border: 1px solid var(--grey-500);
    border-radius: 4px;
    font-size: 14px;
    font-family: karla-regular, sans-serif;
    color: var(--grey-900);
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    min-height: 100px;
}

textarea:focus {
    outline: none;
    border-color: var(--green-600);
    box-shadow: 0 0 0 2px var(--green-200);
}

.check {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

input[type="checkbox"] {
    accent-color: var(--green-600);  
}

.check label {
    font-size: 14px;
    color: var(--grey-900);
    font-family: karla-regular, sans-serif;
    margin-top: 0.32rem;
}

button{
    background-color: var(--green-600);
    color: var(--white);
    letter-spacing: 0.025rem;
    border: none;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 16px;
    font-family: karla-bold, sans-serif;
    cursor: pointer;
    margin-top: 1rem;
} 

button:hover {
    background-color: hsl(169, 82%, 22%);
    border: none;
}

.error-message {
    color: var(--red);
    font-size: 14px;
    margin-top: 0.25rem;
}

.asterisk { color: var(--green-600); }

    .attribution { font-size: 11px; text-align: center; margin-top: 2rem; }
    .attribution a { color: hsl(228, 45%, 44%); }

