
@font-face {
    font-family: karla-bold;
    src: url(../assets/fonts/Karla-Italic-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: karla-regular;
    src: url(../assets/fonts/Karla-VariableFont_wght.ttf) format("truetype");
}





















    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }